--extra-index-url https://download.pytorch.org/whl/cpu
torch
streamlit
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
sentence-transformers
faiss-cpu
pypdf
python-dotenv
